* {
  box-sizing: border-box; }

body {
  background: url("../assets/background.jpg") fixed;
  background-size: cover;
  color: #e8e8e8;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

header {
  position: fixed;
  z-index: 2;
  width: 250px;
  height: calc(100vh);
  background: rgba(0, 0, 0, 0.9);
  color: #e8e8e8;
  overflow: hidden;
  padding: 25px; }
  header .portrait {
    width: 200px;
    border-radius: 50%;
    border: #3b73b4 3px solid; }
  header .link-container {
    display: flex;
    flex-direction: column;
    padding: 10px; }
  header a {
    padding: 5px; }

main {
  z-index: 1;
  min-height: calc(100vh - 58px);
  background: rgba(0, 0, 0, 0.8);
  color: #e8e8e8;
  overflow: hidden;
  margin-left: 250px;
  padding: 1rem; }
  main .container, main .box-container {
    margin: 1rem auto;
    overflow: hidden; }
  main .container {
    width: 95%; }
  main .box-container {
    width: 90%;
    background: rgba(0, 0, 0, 0.5);
    color: #e8e8e8;
    padding: 1rem 2rem;
    border-left: #3b73b4 2px solid; }
  main .text-secondary {
    color: #3b73b4; }
  main .lg-heading {
    font-size: 4.5rem; }
  main .sm-heading {
    margin-bottom: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); }

footer {
  position: relative;
  z-index: 3;
  width: 100%;
  min-height: 58px;
  text-align: center;
  padding: 1rem;
  background: #000;
  color: #3b73b4; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }

a {
  color: #e8e8e8;
  text-decoration: none; }
  a:hover {
    color: #3b73b4;
    transition: all 0.5s ease-out; }

ul {
  padding: 0;
  list-style: none; }

@media screen and (max-width: 768px) {
  header {
    height: 170px;
    width: 100%;
    position: static;
    padding: 10px; }
    header .portrait {
      width: 150px;
      float: left; }
    header .link-container {
      margin-left: 170px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  main {
    min-height: calc(100vh - 58px - 250px);
    margin-left: 0;
    padding: 0;
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; } }

@media screen and (max-width: 500px) {
  main .lg-heading {
    font-size: 3rem; } }
